{{ define "main" }}
    {{ partial "header.html" . }}
    {{ partial "preloader.html" . }}
    {{ partial "navigation.html" . }}
    {{ partial "banner.html"        (dict "context" . "data" .Site.Data.banner) }}
    {{ partial "imageAbout.html"    (dict "context" . "data" .Site.Data.imageAbout) }}
    {{ partial "hero.html"          (dict "context" . "data" .Site.Data.hero) }}
    {{ partial "cards.html"         (dict "context" . "data" .Site.Data.cards) }}
    {{ $hero_alternative := .Site.Data.hero1 }}
    {{ partial "hero.html"          (dict "context" . "data" $hero_alternative) }}
    {{ partial "counter.html"       (dict "context" . "data" .Site.Data.counter) }}
    {{/* partial "service.html" . }}
    {{ partial "skill.html" . }}
    {{ partial "portfolio.html" . }}
    {{ partial "team.html" . }}
    {{ partial "pricing.html" . }}
    {{ partial "testimonial.html" . */}}
    {{ partial "blog.html"          (dict "context" . "data" .Site.Data.blog) }}
    {{ partial "contact.html"       (dict "context" . "data" .Site.Data.contact) }}
    {{ partial "footer.html" . }}
{{ end }}